<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{order.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="${#messages.msg('navigation.'+product)}+' '+#{order.list.headline}" class="flex-grow-1" />
            </div>
            <!-- purchase orders -->
            <div th:if="${pos.empty}" th:text="#{order.list.empty}" />
            <div th:if="${!pos.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{order.brand.label}" scope="col" />
                            <th th:if="${product != 'trims'}" th:text="#{order.season.label}" scope="col" />
                            <th th:if="${product == 'trims'}" th:text="#{order.intexnumber.label}" scope="col" />
                            <th th:if="${product == 'carelabel'}" th:text="#{order.poNumber.label}" scope="col" />
                            <th th:if="${product == 'hangtag'}" th:text="#{order.referenceOrder.label}" scope="col" />
                            <th th:if="${product == 'hangtag'}" th:text="#{order.ticketType.label}" scope="col" />
                            <th th:if="${product == 'hangtag'}" th:text="#{order.ticketName.label}" scope="col" />
                            <th th:if="${product == 'trims'}" th:text="#{order.labeltype.label}" scope="col" />
                            <th th:if="${product == 'trims'}" th:text="#{order.item.label}" scope="col" />
                            <!-- <th th:text="#{order.vendorCode.label}" scope="col" /> -->
                            <th th:text="#{order.factoryName1.label}" scope="col" />
                            <th scope="col"><div th:text="#{order.quantity.label}" class="float-end" /></th>
                            <th th:if="${product == 'trims'}" scope="col" /><div th:text="#{order.price.label}" class="float-end" /></th>
                            <th th:text="#{order.dateCreated.label}" scope="col" />
                            <th th:text="#{order.orderStatus.label}" scope="col" />
                            <th><!-- --></th>
                            <th sec:authorize="!hasRole('VEN')"><!-- --></th>
                            <th sec:authorize="!hasRole('VEN')"><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="po : ${pos}">
                            <td th:text="${po.brand}" />
                            <td th:text="${po.season}" />
                            <td th:if="${product == 'carelabel'}" th:text="${po.poNumber}" />
                            <td th:if="${product == 'hangtag'}" th:text="${po.referenceOrder}" />
                            <td th:if="${product == 'hangtag'}" th:text="${po.ticket.code}" />
                            <td th:if="${product == 'hangtag'}" th:text="${po.ticket.name}" />
                            <td th:if="${product == 'trims'}" th:text="${po.type}" />
                            <td th:if="${product == 'trims'}" th:text="${''}" />
                            <!-- <td th:text="${po.vendorCode}" /> -->
                            <td th:text="${po.factoryName1}" />
                            <td class="col"><div th:text="${po.totalQty}" class="float-end" /></td>
                            <td th:if="${product == 'trims'}" class="col"><div th:text="${po.price}" class="float-end" /></td>
                            <td th:text="${#temporals.format(po.dateCreated, 'dd-MMM-yyyy')}" />
                            <td th:text="${po.status}"/>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:if="${product == 'carelabel'}" th:href="@{/order/manage/{poNumber}(poNumber=${po.poNumber})}">
                                        <button type="button" class="btn btn-outline">
                                            <img src="/images/pencil-square.svg" width="20" height="20"/>
                                        </button>
                                    </a>
                                </div>
                            </td>
                            <td sec:authorize="!hasRole('VEN')">
                                <div class="float-end text-nowrap">
                                    <a th:if="${product == 'hangtag'}" th:href="@{/order/htcsv/{referenceorder}(referenceorder=${po.referenceOrder})}">
                                        <button type="button" class="btn btn-outline">
                                            <img src="/images/download.png" width="20" height="20"/>
                                        </button>
                                    </a>
                                </div>
                            </td>
                            <td sec:authorize="!hasRole('VEN')">
                                <div class="float-end text-nowrap">
                                    <form th:action="@{/order/manage/{poNumber}/status(poNumber=${po.poNumber})}" method="post" >
                                        <input type="hidden" name="product" id="product" th:value="${product}" />
                                        <input type="hidden" name="status" id="status" value="Completed" />
                                        <button type="submit" class="btn btn-outline">
                                            <img src="/images/completed.png" width="20" height="20"/>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
