<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{order.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{order.list.headline}" class="flex-grow-1" />
            </div>
            <!-- purchase orders -->
            <div th:if="${pods.empty}" th:text="#{order.list.empty}" />
            <div th:if="${!pods.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{order.brand.label}" scope="col" />
                            <th th:text="#{order.season.label}" scope="col" />
                            <th th:text="#{order.poNumber.label}" scope="col" />
                            <th th:text="#{order.articleNumber.label}" scope="col" />
                            <th th:text="#{order.orderType.label}" scope="col" />
                            <th th:text="#{order.vendorCode.label}" scope="col" />
                            <th th:text="#{order.factoryName1.label}" scope="col" />
                            <th th:text="#{order.quantityOrig.label}" scope="col" />
                            <th th:text="#{order.quantity.label}" scope="col" />
                            <th th:text="#{order.orderStatus.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pod : ${pods}">
                            <td th:text="${pod.brand}" />
                            <td th:text="${pod.season}" />
                            <td th:text="${pod.poNumber}" />
                            <td th:text="${pod.articleNumber}" />
                            <td th:text="${pod.type}" />
                            <td th:text="${pod.vendorCode}" />
                            <td th:text="${pod.factoryName1}" />
                            <td th:text="${pod.totalQtyOrig}" />
                            <td th:text="${pod.totalQty}" />
                            <td th:text="${pod.status}"/>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/order/manage/{poNumber}(poNumber=${pod.poNumber})}">
                                        <button type="button" class="btn btn-outline">
                                            <img src="/images/pencil-square.svg" width="20" height="20"/>
                                        </button>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
