<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{order.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{order.list.headline}" class="flex-grow-1" />
            </div>
            <!-- purchase orders -->
            <div th:if="${pods.empty}" th:text="#{order.list.empty}" />
            <div th:if="${!pods.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{order.brand.label}" scope="col" />
                            <th th:text="#{order.season.label}" scope="col" />
                            <th th:text="#{order.poNumber.label}" scope="col" />
                            <th th:text="#{order.articleNumber.label}" scope="col" />
                            <th th:text="#{order.orderType.label}" scope="col" />
                            <th th:text="#{order.vendorCode.label}" scope="col" />
                            <th th:text="#{order.factoryName1.label}" scope="col" />
                            <th th:text="#{order.quantityOrig.label}" scope="col" />
                            <th th:text="#{order.quantityAdd.label}" scope="col" />
                            <th th:text="#{order.quantity.label}" scope="col" />
                            <th th:text="#{order.orderStatus.label}" scope="col" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pod : ${pods}">
                            <td th:text="${pod.brand}" />
                            <td th:text="${pod.season}" />
                            <td th:text="${pod.poNumber}" />
                            <td th:text="${pod.articleNumber}" />
                            <td th:text="${pod.type}" />
                            <td th:text="${pod.vendorCode}" />
                            <td th:text="${pod.factoryName1}" />
                            <td th:text="${pod.totalQtyOrig}" />
                            <td th:text="${pod.totalQty-pod.totalQtyOrig}" />
                            <td th:text="${pod.totalQty}" />
                            <td th:text="${pod.status}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- trims order management form -->
            <div th:if="${!orders.empty}" class="content" sec:authorize="!hasRole('VEN')">
                <p class="h5" th:text="#{order.subhead.manage}">Manage</p>
                <p class="border-top">&nbsp;</p>
                <div class="row">
                    <div class="col-md-7">
                        <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/layoutfile'}" method="post" enctype="multipart/form-data">
                            <div class="row mb-3">                            
                                <label th:for="layoutfile" class="col-md-3 col-form-label">
                                    <span th:text="#{manage.layoutfile.label}" />
                                </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="file" class="form-control-file form-control" id="layoutfile" name="layoutfile">
                                    </div>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-info form-control" th:text="#{manage.layoutfile.button}" title="Upload">Upload</button>
                                </div>
                            </div>
                        </form>
                        <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/status'}" method="post" >
                            <div class="row mb-3">
                                <label th:for="status" class="col-md-3 col-form-label">
                                    <span th:text="#{manage.status.label}" />
                                </label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <img src="/images/clipboard.png" alt="Status" class="d-inline-block align-top" width="20" height="20">
                                        </span>
                                        <select name="status" id="status" class="form-select">
                                            <option value="" th:text="#{select.empty.label}" />
                                            <option th:each="status : ${orderStatus}" th:value="${status}" th:text="${status}" />
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary form-control foem" th:text="#{manage.status.button}" title="Change status">Change</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <!-- composition form -->
            <div th:if="${!orders.empty}" class="content" sec:authorize="!hasRole('TRM')">
                <p class="h5" th:text="#{order.subhead.composition}">Composition list editor</p>
                <p class="border-top">&nbsp;</p>
                <form id="ciform" th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/composition'}" method="post" >
                    <div class="row">
                        <div class="col">
                            <div class="row mb-3">
                                <label th:for="partname" class="col-md-3 col-form-label">
                                    <span th:text="#{order.partname.label}" />
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select id="part" class="form-select">
                                            <option value="" th:text="#{select.empty.label}" />
                                            <option th:each="part : ${parts}" th:value="${part.partName}" th:text="${part.partName}" />
                                        </select>
                                        <button type="button" id="addpart" class="btn btn-outline-secondary" title="Add Part">&rarr;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="ci" class="col-md-3 col-form-label">
                                    <span th:text="#{order.composition.label}" />
                                </label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <select id="ci" class="form-select">
                                            <option value="" th:text="#{select.empty.label}" />
                                            <option th:each="ci : ${cis}" th:value="${ci.ciName}" th:text="${ci.ciName}" />
                                        </select>
                                        <span class="input-group-text">&nbsp;</span>
                                        <input id="pct" name="pct" th:type="text" class="form-control" />
                                        <span class="input-group-text">%</span>
                                        <button type="button" id="addci" class="btn btn-outline-secondary" title="Add Fibre">&rarr;</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mb-3">
                                <label th:for="cilist" class="col-md-3 col-form-label">
                                    <span th:text="#{order.cilist.label}" />
                                </label>
                                <div class="col-md-9">
                                    <select id="cilist" name="cilist" size="5" multiple="" class="form-select">
                                        <option th:each="ci : ${cilist}" th:value="${ci}" th:text="${#strings.replace(#strings.substringAfter(ci, ':'), ':', ' ')}" />
                                    </select>
                                    <div class="row">
                                        <div class="col input-group">
                                            <!-- <button type="button" value="modify" class="cilist btn btn-outline-warning" title="Modify">&larr;</button> -->
                                            <button type="button" value="up" class="cilist btn btn-outline-secondary" title="Move Up">&uarr;</button>
                                            <button type="button" value="down" class="cilist btn btn-outline-secondary" title="Move Down">&darr;</button>
                                            <button type="button" value="remove" class="cilist btn btn-outline-danger" title="Remove">&#10005;</button>
                                        </div>
                                        <div class="col">
                                            <input type="submit" th:value="#{cilist.submit.label}" class="btn btn-primary float-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- layout form -->
            <div th:if="${!orders.empty}" class="content" sec:authorize="!hasRole('TRM')">
                <p class="h5" th:text="#{order.subhead.layout}">Layout approval management</p>
                <p class="border-top">&nbsp;</p>
                    <div class="row">
                        <div class="col-md-7">
                            <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/approve'}" method="post" >
                                <div class="row mb-3">
                                    <label th:for="layoutfile" class="col-md-3 col-form-label">
                                        <span th:text="#{layout.approve.label}" />
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <img src="/images/attachment.svg" alt="Attachment" class="d-inline-block align-top" width="20" height="20">
                                            </span>
                                            <button type="button" id="viewlayout" th:disabled="${pods[0].layoutFile == null}" class="btn btn-info form-control" th:text="#{layout.approve.view}">View Layout</button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary form-control" th:text="#{layout.approve.button}" title="Approve layout">Approve</button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/reject'}" method="post" >
                                <div class="row mb-3">
                                    <label th:for="layoutfile" class="col-md-3 col-form-label">
                                        <span th:text="#{layout.reject.label}" />
                                    </label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-text">
                                                <img src="/images/dislike.svg" alt="Reject" class="d-inline-block align-top" width="20" height="20">
                                            </span>
                                            <input id="reason" name="reason" th:type="text" class="form-control is-invalid" th:value="${pods[0].rejectReason}" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-danger form-control" th:text="#{layout.reject.button}" title="Reject layout">Reject</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col">&nbsp;</div>
                    </div>
                </form>
            </div>
            <!-- order lines in the prchase order -->
            <div class="content">
                <p th:if="${!orders.empty}" class="h5" th:text="#{order.subhead.quantities}">Manage quantities</p>
                <p th:if="${!orders.empty}" class="border-top">&nbsp;</p>
                <div th:if="${!pods.empty && orders.empty}" th:text="#{order.list.empty}" />
                <div th:if="${!orders.empty}" class="table-responsive">
                    <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/quantities'}" method="post" >
                        <input type="submit" th:value="#{quantity.submit.label}" class="btn btn-primary float-end" sec:authorize="!hasRole('TRM')"/>
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                                <tr>
                                    <th th:text="#{order.id.label}" scope="col" />
                                    <th th:text="#{order.size.label}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader1}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader2}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader3}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader4}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader5}" scope="col" />
                                    <th th:text="${orders[0].sizeHeader6}" scope="col" />
                                    <th th:text="#{order.quantityOrig.label}" scope="col" />
                                    <th th:text="#{order.quantityAdd.label}" scope="col" />
                                    <th th:text="#{order.quantity.label}" scope="col" />
                                    <th scope="col" style="width: 20%;" sec:authorize="!hasRole('TRM')">
                                        <div class="input-group input-group-sm">
                                            <div class="btn-group" role="group" aria-label="Change quantity">
                                                <input type="radio" class="btn-check" name="changetype" id="changepct" checked>
                                                <label class="btn btn-light" for="changepct" title="Change by %">%</label>
                                                <input type="radio" class="btn-check" name="changetype" id="changeqty">
                                                <label class="btn btn-light" for="changeqty" title="Change by value">+</label>
                                            </div>
                                            &nbsp;
                                            <input type="text" class="form-control" th:id="changeval" />
                                            <button type="button" id="qset" class="btn btn-outline-primary">&#10003;</button>
                                            <button type="button" id="qreset" class="btn btn-outline-secondary">&#8630;</button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.id}" />
                                    <td th:text="${order.size}" />
                                    <td th:text="${order.size1}" />
                                    <td th:text="${order.size2}" />
                                    <td th:text="${order.size3}" />
                                    <td th:text="${order.size4}" />
                                    <td th:text="${order.size5}" />
                                    <td th:text="${order.size6}" />
                                    <td th:text="${order.quantityOrig}" />
                                    <td th:text="${order.quantity-order.quantityOrig}" />
                                    <td th:text="${order.quantity}" />
                                    <td sec:authorize="!hasRole('TRM')">
                                        <div class="float-end text-nowrap">
                                            <div class="col">
                                                <input type="hidden" id="oid" name="oid" th:value="${order.id}" />
                                                <input type="hidden" id="oqty" name="oqty" th:value="${order.quantity}" />
                                                <input type="number" class="form-control" th:id="nqty" th:name="nqty" th:value="${order.quantity}" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <!-- confirm order -->
            <div th:if="${!orders.empty}" class="content" sec:authorize="!hasRole('TRM')">
                <p class="h5" th:text="#{order.subhead.confirm}">Confirm order</p>
                <p class="border-top">&nbsp;</p>
                <div class="row">
                    <div class="col">
                        <div class="lead" th:text="#{delivery.info.label}">Delivery address.</div>
                        <div class="lead border-top">&nbsp;</div>
                        <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/deladdr'}" method="post">
                            <div class="row mb-3">
                                <label th:for="deladdr" class="col-md-3 col-form-label">
                                    <span th:text="#{delivery.select.label}" />
                                </label>
                                <div class="col">
                                    <div class="input-group">
                                        <select id="deladdr" name="deladdr" class="form-select">
                                            <option value="" th:text="#{select.empty.label}" />
                                            <option th:each="addr : ${vaddrs}" th:value="${addr.name}" th:text="${addr.contact}" th:selected="${addr.name == deladdr.name}" />
                                        </select>
                                        <input type="submit" th:value="#{delivery.set.label}" class="btn btn-info float-end" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.contact.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.contact}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.email.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.email}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.phone.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.phone}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.company.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.company}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.addr1.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.address1}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.addr2.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.address2}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.addr3.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.address3}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.city.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.city}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.postcode.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.postcode}"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label th:for="notes" class="col-md-3 col-form-label">
                                <span th:text="#{delivery.country.label}" />
                            </label>
                            <div class="col">
                                <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${deladdr.country != null ? deladdr.country.name : ''}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="lead" th:text="#{confirm.invoice.label}">Invoice address</div>
                        <div class="lead border-top">&nbsp;</div>
                        <form th:action="${T(me.ftahmed.bootify.util.WebUtils).getRequest().requestURI+'/confirm'}" method="post" >
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.company.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.company}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.addr1.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.address1}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.addr2.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.address2}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.addr3.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.address3}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.city.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.city}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.postcode.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.postcode}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{invoice.country.label}" />
                                </label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-plaintext" readonly="readonly" th:value="${invaddr.country.name}"/>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="orderby" class="col-md-3 col-form-label">
                                    <span th:text="#{confirm.orderby.label}" />
                                </label>
                                <div class="col">
                                    <input id="orderby" name="orderby" th:type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="vendorpo" class="col-md-3 col-form-label">
                                    <span th:text="#{confirm.vendorpo.label}" />
                                </label>
                                <div class="col">
                                    <input id="vendorpo" name="vendorpo" th:type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label th:for="notes" class="col-md-3 col-form-label">
                                    <span th:text="#{confirm.notes.label}" />
                                </label>
                                <div class="col">
                                    <textarea id="notes" name="notes" rows="3" class="form-control" ></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="deladdr" th:value="${'deladdr-name'}"/>
                            <input type="submit" th:value="#{confirm.submit.label}" class="btn btn-primary float-end" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
