<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{home.index.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{home.index.headline}" class="mb-4" />
            <p th:utext="#{home.index.text}" />
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                                <tr>
                                    <th th:text="#{navigation.product.label}" scope="col" />
                                    <th th:text="#{navigation.count.label}" scope="col" />
                                    <th sec:authorize="!hasRole('VEN')"><!----></th>
                                    <th><!----></th>
                                </tr>
                                <tr>
                                    <td th:text="#{navigation.carelabel}"></td>
                                    <td th:text="${''}"></td>
                                    <td sec:authorize="!hasRole('VEN')">
                                        <div class="float-end text-nowrap">
                                            <a th:href="@{/order/upload/carelabel}">
                                                <button type="button" class="btn btn-outline">
                                                    <img src="/images/import.png" width="20" height="20"/>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="float-end text-nowrap">
                                            <a th:href="@{/order/list/carelabel}">
                                                <button type="button" class="btn btn-outline">
                                                    <img src="/images/list.svg" width="20" height="20"/>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td th:text="#{navigation.hangtag}"></td>
                                    <td th:text="${''}"></td>
                                    <td sec:authorize="!hasRole('VEN')">
                                        <div class="float-end text-nowrap">
                                            <a th:href="@{/order/upload/hangtag}">
                                                <button type="button" class="btn btn-outline">
                                                    <img src="/images/import.png" width="20" height="20"/>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="float-end text-nowrap">
                                            <a th:href="@{/order/list/hangtag}">
                                                <button type="button" class="btn btn-outline">
                                                    <img src="/images/list.svg" width="20" height="20"/>
                                                </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="col">&nbsp;</div>
            </div>
            
        </div>
    </body>
</html>
